* {
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
	text-decoration: none;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
}

nav {
    background-color: #333;
    color: white;
    padding: 20px;
    width: 200px;
    height: 100vh;
    box-sizing: border-box; /* Hindari overflow di tingkat penuh tinggi */
    overflow-y: auto; /* Tambahkan overflow untuk scroll jika diperlukan */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    margin-bottom: 15px;
}

nav a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease; /* Efek transisi pada hover */
}

nav a:hover {
    background-color: #555;
}


.main {
    position: relative;
    padding: 20px;
    width: calc(100% - 280px);
}

.main-skills {
    display: flex;
    margin-top: 50px;
    justify-content: center;
}

.card {
    width: 200px;
    height: 200px;
    margin: 30px;
    background: #4CAF50;
    text-align: center;
    padding: 20px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card h3 {
    margin: 10px 0;
    text-transform: capitalize;
    font-size: 20px;
}

.card p {
    font-size: 18px;
    margin-top: 10px;
}

.card i {
    font-size: 40px;
}
